<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Angular Dashboard</a>
    <button (click)="logout()" class="btn btn-danger">Logout</button>
    <div>
      <h2>Hi, {{fullName}}</h2>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <ng-container *ngIf="role =='Admin'">
  <!-- <h2>{{role}}</h2> -->

  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index" >
        <th scope="row">{{i+1}}</th>
        <th scope="row">{{user.firstName}}</th>
        <th scope="row">{{user.lastName}}</th>
        <th scope="row">{{user.username}}</th>
        <th scope="row">{{user.email}}</th>

      </tr>

    </tbody>
  </table>
</ng-container>
</div>
